//git.vucx.de/api/v4/packages/npm/:_authToken=${VUCX_GITLAB_TOKEN}
//git.vucx.de/api/v4/projects/250/packages/npm/:_authToken=${VUCX_GITLAB_TOKEN}

@vucx:registry=https://git.vucx.de/api/v4/packages/npm/