@import "../../../scss/base";

.p-homepage {
  position: relative;

  &__canvas {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
  }

  &__header {
    position: fixed;
    top: 15vh;
    width: 100%;
  }

  &__scrollHint {
    bottom: 1rem;
    position: fixed;
    width: 100%;
  }

  &__section1,
  &__section2,
  &__section2_1,
  &__section3,
  &__section4 {
    position: fixed;
    width: 512px;
  }

  &__section1 {
    bottom: 55vh;
    left: 5rem;
  }

  &__section2 {
    right: 39vw;
    top: 15vh;
  }

  &__section2_1 {
    right: 15rem;
    top: 35vh;
  }

  &__section3 {
    bottom: 25vh;
    right: 5rem;
  }

  &__section4 {
    right: 15rem;
    top: 75vh;
  }

  em {
    color: map-get($theme-colors, "primary");
    font-style: normal;
  }

  section {
    background-color: map-get($theme-colors, "dark");
    color: map-get($theme-colors, "light");
    padding: 4rem;
  }
}
