@import "../../../scss/base";

.p-homepage {
  background-color: map-get($theme-colors, "dark");
  position: relative;

  &__canvas {
    background-color: map-get($theme-colors, "light");
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
  }

  &__header {
    position: fixed;
    top: 15vh;
    width: 100%;
  }

  &__scrollHint {
    bottom: 1rem;
    position: fixed;
    width: 100%;
  }

  &__section1 {
    bottom: 40vh;
    left: 5vw;
  }

  &__section2 {
    bottom: 70vh;
    right: 5vw;
  }

  &__section3 {
    bottom: 62.5vh;
    left: 5vw;
  }

  &__section4 {
    bottom: 25vh;
    right: 5vw;
  }

  &__section5 {
    bottom: 5vh;
    right: 5vw;
  }

  em {
    color: map-get($theme-colors, "primary");
    font-style: normal;
  }

  section {
    color: map-get($theme-colors, "light");
    margin: auto;
    max-width: 720px;
    padding: 4rem;
  }
}
