{% extends 'Template/base.twig' %}

{% set entryName = 'PHomepage' %}

{% block page %}
  <div class="p-homepage">
    {% include 'Atom/AMainCanvas/AMainCanvas.twig' with {class: 'p-homepage__canvas'} only %}

    <div
      data-appear="bottom"
      data-appear-start="0"
      data-appear-end="40"
      class="p-homepage__header"
    >
      {% include 'Molecule/MHeader/MHeader.twig' only %}
    </div>

    <div
      data-appear="top"
      data-appear-start="0"
      data-appear-end="40"
      class="p-homepage__scrollHint"
    >
      {% include 'Atom/AScrollHint/AScrollHint.twig' only %}
    </div>

    {% set animationSteps = [
      {
        title: 'Remove The Dust Cover',
        paragraph: 'It\'s not 1960 and these things just don\'t do enough good to justify the ugliness.',
        start: 5,
      },
      {
        title: 'Clip The Clippy Things',
        paragraph: 'They will fit right into the dust cover\'s joints.',
        start: 75,
      },
      {
        title: 'Get Your Wax Out',
        paragraph: 'Don\'t forget to wipe.',
        start: 125,
      },
      {
        title: 'Place The Sleeve Into The Clips',
        paragraph: 'This will fit sleeves with up to two 220g vinyls. If your sleeve is too thick, you might be able to open it like a book and reduce the size.',
        start: 205,
      },
      {
        title: 'Lean Back & Enjoy The Music',
        paragraph: 'And take some time to appreciate that beautiful cover.',
        start: 405,
      },
    ] %}

    {% for index, step in animationSteps %}
      {% include 'Molecule/MAnimationStep/MAnimationStep.twig' with step|merge({
        index,
        class: 'p-homepage__section' ~ (index + 1)
      }) only %}
    {% endfor %}

    <section>
      <h2>Questionnaire</h2>
      <p>Please help me figure out if this is a good idea or not. Fill out and send the form below.</p>
      <p>
        <em>
          All data will be strictly anonymous. This site does not get or store any information about you, your browser,
          or your behaviour during your visit.
        </em>
      </p>
      <form>
        {% include 'Molecule/MQuestionnaireStep/MQuestionnaireStep.twig' with {
          question: 'Do you use the dust cover on your turntable?',
          id: 'dustCover'
        } %}

        {% include 'Molecule/MQuestionnaireStep/MQuestionnaireStep.twig' with {
          question: 'Would you replace your dust cover with this product?',
          id: 'replaceCover'
        } %}

        {% include 'Molecule/MQuestionnaireStep/MQuestionnaireStep.twig' with {
          question: 'Do you have any other type of sleeve holder or "Now Playing" display?',
          id: 'otherHolder'
        } %}
      </form>
    </section>
  </div>
{% endblock page %}